* {
    background: #777;
    font-family: "Quicksand", sans-serif;
}

.nav-bar {
    font-size: 28px;
    margin-right: 80px;
    margin-top: 10%;
    text-align: center;
}

.nav-bar ul l a {
    text-decoration: none;
    color: white;
}

.header {
    text-align: center;
    color: white;
    font-size: 35px;
}
.info-box {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 4px;
    width: 40%;
    text-align: center;
    margin-top: 6%;
    margin-left: 29.5%;
    transform: scale(0);
}
.info-box a {
    text-decoration: underline;
    color: red;
    background: #777;
}


.info-button {
    text-align: center;
}


.info-button button {
    color: white;
    font-size: 25px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.info-button button:hover {
    border-radius: 35px;
    background: white;
    color: #777;
    transition: 0.5s;
}


.footer footer {
    text-align: center;
    /* margin-top: 1%; */
    color: white;
    margin-right: 2%;
    font-size: 20px;
}